<!DOCTYPE html>
<html>
<head>
    <title>Profile | MediShield</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<nav class="glass" style="margin:20px; padding:15px 30px; display:flex;">
    <h2><a href="/" style="color:white;">MediShield</a></h2>

    <div style="margin-left:auto;">
        <a href="/predict">
            <button class="btn btn-outline">Predict</button>
        </a>
    </div>
</nav>

<div style="padding:40px;">

<h2>Welcome, {{ user }}</h2>

<h3 style="margin-top:20px;">Your Prediction History</h3>

{% if history %}

{% for item in history %}

<div class="glass" style="padding:20px; margin-top:15px;">

    <strong>Medicine:</strong> {{ item.drug }}<br><br>

    {% for effect, confidence in item.results %}
        <div style="margin-bottom:8px;">
            {{ effect }} → {{ confidence }}%
        </div>
    {% endfor %}

</div>

{% endfor %}

{% else %}

<p>No predictions yet.</p>

{% endif %}

</div>

</body>
</html>
