<!DOCTYPE html>
<html>
<head>
    <title>Register | MediShield</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div style="
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
">

    <div class="glass" style="width:380px; padding:40px; text-align:center;">

        <h2 style="margin-bottom:25px;">Register</h2>

        <!-- IMPORTANT: method="POST" -->
        <form method="POST">
            <input type="text" name="fname" placeholder="First Name" required>
            <input type="text" name="lname" placeholder="Last Name" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            
            <button class="auth-btn">Register</button>
        </form>

        <p style="margin-top:20px; font-size:14px;">
            Already have an account?
            <a href="/login" style="color:#8abfff;">Login</a>
        </p>

    </div>
</div>

</body>
</html>
